.App {
    /*width: 1fr;*/
    /*height: 100vh;*/
    background-color: grey;
    display: flex;
    justify-content: center;
    margin-top: 20% ;
    column-gap: 20px;
    /*align-content: center;*/
    /*padding-top: 30%;*/
    /*padding-left: 495%;*/

}

